/* Tipografía */
@font-face {
  font-family: "bodoni-bold";
  src: url("./assets/fonts/BodoniFLF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "bodoni-bolditalic";
  src: url("./assets/fonts/BodoniFLF-BoldItalic.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "bodoni-italic";
  src: url("./assets/fonts/BodoniFLF-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "bodoni-roman";
  src: url("./assets/fonts/BodoniFLF-Roman.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "grotesk-light";
  src: url("./assets/fonts/PxGrotesk-Light.woff2") format("woff2");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("./assets/fonts/PxGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #ffffff;
  --secundario: #000000;
  /* Tipografía */
  --ff-regular: "grotesk-regular";
  --ff-gold: "bodoni-roman";
}

/****************************************
*    Base
*****************************************/
body {
  height: 100%;
  font-family: var(--ff-regular);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-bold);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 19px;
}

/* 1. Globalmente quitamos la linea de los enlaces */
li a {
  text-decoration: none; /* 1 */
}

ul li {
  list-style-type: none;
}

/****************************************
*    Componentes
*****************************************/
.home {
  position: relative;
  display: grid;
}

.header {
  align-self: center;
  justify-self: center;
}

.header__titulo {
  position: relative;
  font-size: 45px;
  padding-left: 5px;
  transform: translate(2rem, 6rem);
}

.header__titulo span:first-child::after {
  content: "";
  position: absolute;
  left: 1.5px;
  top: 50px;
  width: 39px;
  height: 10.5px;
  background: url(./assets/linea-curveada-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__titulo-segundo {
  margin-left: -65px;
}

.header__titulo-segundo::after {
  content: "";
  position: absolute;
  left: 1.5px;
  top: 117.5px;
  width: 39px;
  height: 10.5px;
  background: url(./assets/linea-curveada-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-30px);
}

.header__titulo span:last-child::after {
  content: "";
  position: absolute;
  left: 65px;
  top: 185px;
  width: 39px;
  height: 10.5px;
  background: url(./assets/linea-curveada-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.home .descripcion {
  position: absolute;
  top: 60px;
  left: 40px;
}

.nav {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  padding: 80px;
}

.home .nav {
  margin-right: auto;
  padding: 20px;
}

.menu__item a {
  font-family: var(--font-family-nav);
}

.menu {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.menu__item a:hover {
  color: #e8ccff;
}

.footer {
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.footer * {
  display: inline-flex;
}

.footer a:hover {
  color: #e8ccff;
}

.footer__instagram {
  margin-right: 20px;
  margin-top: 10px;
}

.footer svg:hover {
  fill: #e8ccff;
}

.footer p {
  position: relative;
}

.footer p::after {
  content: url(./assets/linea-doble.png);
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
}

@media screen and (min-width: 40em) {
  .home {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 1fr max-content;
  }
  .home::after {
    position: absolute;
    content: url(./assets/linea-curveada.png);
    right: -30px;
    top: -40px;
  }
  .header {
    justify-self: unset;
    grid-column: 3 / 6;
    grid-row: 1 / 4;
  }
  .header__titulo {
    position: relative;
    font-size: 90px;
    padding-left: 10px;
    transform: none;
  }
  .header__titulo span:first-child::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 100px;
    width: 78px;
    height: 21px;
    background: url(./assets/linea-curveada-sm.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header__titulo-segundo {
    margin-left: -130px;
  }
  .header__titulo-segundo::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 235px;
    width: 78px;
    height: 21px;
    background: url(./assets/linea-curveada-sm.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-60px);
  }
  .header__titulo span:last-child::after {
    content: "";
    position: absolute;
    left: 130px;
    top: 370px;
    width: 78px;
    height: 21px;
    background: url(./assets/linea-curveada-sm.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .home .descripcion {
    position: static;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
  }
  .home .nav {
    margin: unset;
    padding: 80px;
  }
  .home .menu {
    display: block;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .footer {
    grid-column: 2/6;
    grid-row: 3/5;
    align-self: end;
  }
}

/*** Acerca de mi***/
/* 2. Justify-self end & translateX para alinearlo */
/* Esto es instrucciones para móvil */
.acercade {
  position: relative;
  display: grid;
  grid-template-rows: 100px auto 1fr min-content;
}

.acercade .descripcion {
  grid-row: 1 / 2;
  padding: 2rem;
  min-width: max-content;
}

.biografia {
  grid-row: 3 / 4;
  position: relative;
  margin: auto;
}

.biografia::after {
  content: url(./assets/linea-doble.png);
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.acercade figure {
  grid-row: 2 / 3;
  position: relative;
  margin: auto;
}

.acercade figure::after {
  position: absolute;
  content: url(https://res.cloudinary.com/dkixdpdpk/image/upload/v1603749810/Copia_de_acercademi_tqie7p.png);
  transform: scale(0.6);
  top: 10px;
  left: 100px;
}

.yo {
  max-width: 325px;
}

.acercade .nav {
  grid-row: 4 / 5;
  padding: 20px;
}

@media screen and (min-width: 40em) {
  /* Estas instrucciones son para desktop */
  .acercade {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 1fr max-content;
  }
  .acercade .descripcion {
    align-self: end;
    justify-self: center;
    padding: 0;
  }
  .biografia {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: end; /* 2 */
    margin-left: 5vw;
    min-width: max-content;
  }
  .biografia::after {
    content: url(./assets/linea-doble.png);
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
  }
  .acercade figure {
    position: relative;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: end;
  }
  .acercade figure::after {
    position: absolute;
    content: url(https://res.cloudinary.com/dkixdpdpk/image/upload/v1603749810/Copia_de_acercademi_tqie7p.png);
    transform: scale(0.7);
    top: 10px;
    right: 0;
    left: unset;
  }
  .yo {
    width: 325px;
    height: 324px;
  }
  .acercade .nav {
    padding: 80px;
  }
}

/*** Diseño***/
/* 3. flex 1 & flex 5 para simular 6 columnas */
/* 4. padding-top para separar el titulo del menu */

.categoria {
  position: relative;
  display: flex;
}

.categoria__nav {
  padding-top: 2rem;
  flex: 1; /* 3 */
  height: 3000px;
}

.categoria__nav div {
  position: sticky;
  top: -1px;
  padding: 1rem 2rem;
}

/* .categoria__nav div.pinned ul li {
  border: 1px solid black;
} */

.categoria__menu ul {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

.categoria__proyectos {
  flex: 5; /* 3 */
  display: grid;
}

/* .categoria__titulo {
} */

.categoria__proyectos section ul {
  display: flex;
  gap: 20px;
  max-width: 80%;
}

.categoria__proyectos section > * {
  margin: 8rem auto;
}

/* TODO */
/* Dar formato a c/u de las categorias */

.categoria__proyectos #editorial ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  place-items: center;
  gap: 20px;
  /* max-width: 80%;
  margin: auto; */
  margin-top: 2rem;
}

/* .categoria__proyectos ul li img {
  border-radius: 20px;
} */

.categoria__proyectos #editorial ul li:nth-child(4) img {
  max-width: 300px;
  border-radius: 20px;
}

.categoria__proyectos #editorial ul li:nth-child(2) img {
  max-width: 450px;
  /* padding-right: 40px; */
}

.categoria .backbutton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@media screen and (min-width: 40em) {
  .categoria .backbutton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}
