/* Tipografía */
@font-face {
  font-family: "bodoni-bold";
  src: url("./assets/fonts/BodoniFLF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "bodoni-bolditalic";
  src: url("./assets/fonts/BodoniFLF-BoldItalic.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "bodoni-italic";
  src: url("./assets/fonts/BodoniFLF-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "bodoni-roman";
  src: url("./assets/fonts/BodoniFLF-Roman.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "grotesk-light";
  src: url("./assets/fonts/PxGrotesk-Light.woff2") format("woff2");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("./assets/fonts/PxGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #ffffff;
  --secundario: #000000;
  /* Tipografía */
  --font-family-body: "grotesk-regular";
  --font-family-headings: "bodoni-roman";
  --font-family-nav: "grotesk-regular";
}

/****************************************
*    Base
*****************************************/
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 19px;
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */

/****************************************
*    Componentes
*****************************************/
/* body {
  background: url("./assets/mancha2.png"), url("./assets/mancha1.svg"),
    url("./assets/mancha1.svg"), url("./assets/mancha1.svg");
} */

.home {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 1fr max-content;
}

.home::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dkixdpdpk/image/upload/c_scale,w_200/v1603749817/mancha2_lq5has.svg");
}

.header {
  grid-column: 3 / 6;
  grid-row: 1 / 4;
  align-self: center;
  background-color: var(--secundario-4);
}

.header__titulo {
  position: relative;
  font-size: 90px;
  padding-left: 10px;
}

.header__titulo span:first-child::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 100px;
  width: 78px;
  height: 21px;
  background: url(./assets/linea-curveada-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__titulo-segundo {
  margin-left: -130px;
}

.header__titulo-segundo::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 235px;
  width: 78px;
  height: 21px;
  background: url(./assets/linea-curveada-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-60px);
}

.header__titulo span:last-child::after {
  content: "";
  position: absolute;
  left: 130px;
  top: 370px;
  width: 78px;
  height: 21px;
  background: url(./assets/linea-curveada-sm.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.descripcion {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center;
}

nav {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  padding: 80px;
}

.menu__item a {
  font-family: var(--font-family-nav);
}

.menu {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.menu__item a:hover {
  color: #e8ccff;
}

.footer {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  align-self: end;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.footer {
  grid-column: 2/6;
  grid-row: 3/5;
}

.footer * {
  display: inline-flex;
}

.footer {
  padding-right: 20px;
}

.footer a:hover {
  color: #e8ccff;
}

.footer__instagram {
  margin-right: 20px;
  margin-top: 10px;
}

.footer svg:hover {
  fill: #e8ccff;
}

/*** Acerca de mi***/
.layout {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 1fr max-content;
}

.biografia {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  /* grid-column: 3 / 6;
  grid-row: 2 / 3;
  align-self: end;
  display: flex;
  justify-content: center;
  padding: 50px 20px; */
}
.yo {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: end;
  width: 325px;
  height: 324px;
}
