/* Tipografía */
@font-face {
  font-family: "bodoni-bold";
  src: url("./assets/fonts/BodoniFLF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "bodoni-bolditalic";
  src: url("./assets/fonts/BodoniFLF-BoldItalic.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "bodoni-italic";
  src: url("./assets/fonts/BodoniFLF-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "bodoni-roman";
  src: url("./assets/fonts/BodoniFLF-Roman.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "grotesk-light";
  src: url("./assets/fonts/PxGrotesk-Light.woff2") format("woff2");
}

@font-face {
  font-family: "grotesk-regular";
  src: url("./assets/fonts/PxGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #ffffff;
  --secundario: #000000;
  /* Tipografía */
  --font-family-body: "grotesk-regular";
  --font-family-headings: "bodoni-roman";
  --font-family-nav: "grotesk-regular";
}

/****************************************
*    Base
*****************************************/
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 19px;
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */

/****************************************
*    Componentes
*****************************************/
body {
  background: url("./assets/homee.png");
}

.home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 1fr max-content;
}

.header {
  grid-column: 3 / 6;
  grid-row: 1 / 4;
  align-self: center;
  background-color: var(--secundario-4);
}

.header__titulo {
  font-size: 90px;
}

.descripcion {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center;
}

nav {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  padding: 80px;
}

.menu__item a {
  font-family: var(--font-family-nav);
}

.menu {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.menu__item a:hover {
  color: #e8ccff;
}

.footer {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  align-self: end;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.footer {
  grid-column: 2/6;
  grid-row: 3/5;
}

.footer * {
  display: inline-flex;
}

.footer {
  padding-right: 20px;
}

.footer a:hover {
  color: #e8ccff;
}

.footer__instagram {
  margin-right: 20px;
  margin-top: 10px;
}

.footer svg:hover {
  fill: #e8ccff;
}

/****************************************
*    Helpers
*****************************************/
[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}

/****************************************
*    Test
*****************************************/
/****************************************
*    Componentes
*****************************************/
